
*
!*.py
!*.ipynb
!*.yml
!*.md

!*/

data/*
!data/README.md

results/checkpoints/
results/watermarked/
results/eval_samples/
results/samples/

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env/
.venv/
conda_env/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
